<%- include('../partials/header') %>


<form id='new-form' action="/flights/new" method="POST">

	<label>Airline:
	  <select name="airline">
	    <option value="United">United</option>
	    <option value="Southwest">Southwest</option>
	    <option value="Delta">Delta</option>
		</select>
	</label><br>
	<br>

	<label>Flight Number:
	  <input type="text" name="flightNumber">
	</label>
	<br>
	<br>



	<label>Departure date:</label>
	  <input type="datetime-local" name="departs">
	
	<br>
	<br>
	<label> Departure airport:
<select name="departingAirport">
	</label>
    <option value="AUS">AUS</option>
    <option value="DAL">DAL</option>
    <option value="LAX">LAX</option>
    <option value="SEA">SEA</option>
  </select>
  <br>
  <br>
	
	<input type='submit' value='Add Flight'>
    
</form>


<%- include('../partials/footer') %>
